accelerate
blobfile
datasets
hpsv2
httpx[http2]
mcp[cli]
memray 
omegaconf
pillow
pydantic>=2
pylatexenc
pyyaml
qwen_vl_utils # for VLM
ray[default]
safetensors
ring_flash_attn
sglang-router>=0.2.3
tensorboard
transformers
wandb
